.apffw_auto_show .apffw .apffw_container_0{
    float: left
}
.apffw_auto_show .apffw .apffw_container_1{
    float: left
}
.apffw_auto_show .apffw .apffw_container_2{
    clear: right;
    float: left
}

.apffw_auto_show .apffw .apffw_container_3{
    clear: both;
    float: left
}

.apffw_auto_show .apffw .apffw_container_4{
    float: left
}

